.container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin: 5px 0;
}

.img {
  margin-right: 16px;
}

.detail {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #242742;
}
